<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.johnny.johnnyBlog.dao.TestDao">
 	<select id="findAllProduct"  resultType="String">
 		select product_name from product
 	</select>
 	<select id="findAllModule"  resultType="String">
 		select module_name from module
 	</select>
 	<select id="findAllProject"  resultType="String">
 		select project_name from project
 	</select>
 	<select id="findAllPerson"  resultType="String">
 		select person_name from fixup_person
 	</select>
 	<select id="findAllBugtype"  resultType="String">
 		select bugtype_name from bugtype
 	</select>
 	<insert id="saveBug" parameterType="com.johnny.johnnyBlog.entity.TestBug">
 		insert into bug(product_id,module_id,project_id,version,person_id,deadline,bugtype_id,bug_title,bug_content) values (#{product_id},#{module_id},#{project_id},#{version},#{person_id},#{deadline},#{bugtype_id},#{bug_title},#{bug_content})
 	</insert>
 	<select id="loadBug" resultType="com.johnny.johnnyBlog.entity.TestBug">
 		select * from bug
 	</select>
 	<select id="loadFullBug" resultType="com.johnny.johnnyBlog.entity.FullTestBug">
 		select a.bug_id,a.version,a.deadline,a.bug_title,b.product_name,c.module_name,d.project_name,e.person_name,f.bugtype_name
		from bug a 
		join product b 
		on a.product_id = b.product_id 
		join module c 
		on a.module_id = c.module_id
		join project d
		on a.project_id = d.project_id
		join fixup_person e
		on a.person_id = e.person_id
		join bugtype f
		on a.bugtype_id = f.bugtype_id
		order by a.bug_id desc
 	</select>
 	<select id="findBugById" parameterType="string" resultType="com.johnny.johnnyBlog.entity.FullTestBug">
 		select a.bug_content,a.version,a.deadline,a.bug_title,b.product_name,c.module_name,d.project_name,e.person_name,f.bugtype_name
		from bug a 
		join product b 
		on a.product_id = b.product_id 
		join module c 
		on a.module_id = c.module_id
		join project d
		on a.project_id = d.project_id
		join fixup_person e
		on a.person_id = e.person_id
		join bugtype f
		on a.bugtype_id = f.bugtype_id
		where a.bug_id=#{bug_id}
 	</select>
 	<select id="loadPartBug" parameterType="Map" resultType="com.johnny.johnnyBlog.entity.FullTestBug">
 		select a.bug_id,a.version,a.deadline,a.bug_title,b.product_name,c.module_name,d.project_name,e.person_name,f.bugtype_name
		from bug a 
		join product b 
		on a.product_id = b.product_id 
		join module c 
		on a.module_id = c.module_id
		join project d
		on a.project_id = d.project_id
		join fixup_person e
		on a.person_id = e.person_id
		join bugtype f
		on a.bugtype_id = f.bugtype_id
		order by a.bug_id desc
		limit #{pageBegin},#{pageSize}
 	</select>
 	<select id="findTestBugById" parameterType="string" resultType="com.johnny.johnnyBlog.entity.TestBug">
 		select * from bug where bug_id = #{bugId}
 	</select>
 	<update id="updateBugById" parameterType="com.johnny.johnnyBlog.entity.TestBug">
 		update bug set product_id=#{product_id},module_id=#{module_id},project_id=#{project_id},version=#{version},person_id=#{person_id},deadline=#{deadline},bugtype_id=#{bugtype_id},bug_title=#{bug_title},bug_content=#{bug_content} where bug_id=#{bug_id}
 	</update>
 </mapper>